<!DOCTYPE html>
   <head>
        <title>{{ title }}</title>
       <style>
           iframe {
               height:350px9;
               width:350px;
           }
       </style>
   </head>
   <body style="background-color:#444444;">
       <iframe src="http://localhost/">
           <p>Your browser does not support iframes.</p>
       </iframe>
       <iframe src="http://localhost/">
           <p>Your browser does not support iframes.</p>
       </iframe>
       <iframe src="http://localhost/">
           <p>Your browser does not support iframes.</p>
       </iframe>
       <iframe src="http://localhost/">
           <p>Your browser does not support iframes.</p>
       </iframe>
       <iframe src="http://localhost/">
           <p>Your browser does not support iframes.</p>
       </iframe>
       <iframe src="http://localhost/">
           <p>Your browser does not support iframes.</p>
       </iframe>
       <iframe src="http://localhost/">
           <p>Your browser does not support iframes.</p>
       </iframe>
       <iframe src="http://localhost/">
           <p>Your browser does not support iframes.</p>
       </iframe>
   </body>
</html>