<!DOCTYPE html>
   <head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
		<script type="text/javascript" src="/static/scripts/javascript/refreshscript.js"></script>
		<style>
.button {
  background-color: #525252;
  border: none;
  color: #FFDF00;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
h2 {
color:#FFDF00;
font-family:"Lucida Console";
}
		</style>
   </head>
   <body style="background-color:#444444" onLoad="refresh1sec()">
		<h2 align="left">{{ hostname }}</h2>
		<div id="timehostipdisk"></div>
		<br>
		<div id="cpuram"></div>
		
	<table>
	<tr>
	<td><form method="get" action="/"><button class="button">Simpel page</button></form></td>
	</tr>
	</table>
	
	</body>
</html>